<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>채팅창UI</title>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div style="background-color: lightblue; width: 300px; height: 500px;"></div>
    <input type="text" />
    <button onclick="send()">전송</button>
  </body>
</html>